{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Cyclos4 Communities API",
    "description" : "The Cyclos4 Communities REST API is described using OpenAPI 3.0. The descriptor for the api can be downloaded in both [YAML](https://demo.cyclos.org/api/openapi.yaml) or [JSON](https://demo.cyclos.org/api/openapi.json) formats. These files can be used in tools that support the OpenAPI specification, such as the [OpenAPI Generator](https://openapi-generator.tech).\n\nIn the API, whenever some data is referenced, for example, a group, or payment type, either id or internal name can be used. When an user is to be referenced, the special word 'self' (sans quotes) always refers to the currently authenticated user, and any identification method (login name, e-mail, mobile phone, account number or custom field) that can be used on keywords search (as configured in the products) can also be used to identify users. Some specific data types have other identification fields, like accounts can have a number and payments can have a transaction number. This all depends on the current configuration.\n\n-----------\n\nMost of the operations that return data allow selecting which fields to include in the response. This is useful to avoid calculating data that finally won't be needed and also for reducing the transfer over the network. If nothing is set, all object fields are returned. Fields are handled in 3 modes. Given an example object `{\"a\": {\"x\": 1, \"y\": 2, \"z\": 3}, \"b\": 0}`, the modes are:\n- **Include**: the field is unprefixed or prefixed with `+`. All fields which\n  are not explicitly included are excluded from the result. Examples:\n  - `[\"a\"]` results in `{\"a\": {\"x\": 1, \"y\": 2, \"z\": 3}}`\n  - `[\"+b\"]` results in `{\"b\": 0}`\n  - `[\"a.x\"]` results in `{\"a\": {\"x\": 1}}`. This is a nested include. At root\n    level, includes only `a` then, on `a`'s level, includes only `x`.\n\n- **Exclude**: the field is prefixed by `-` (or, for compatibility purposes,\n  `!`). Only explicitly excluded fields\n  are excluded from the result. Examples:\n  - `[\"-a\"]` results in `{\"b\": 0}`\n  - `[\"-b\"]` results in `{\"a\": {\"x\": 1, \"y\": 2, \"z\": 3}}`\n  - `[\"a.-x\"]` results in `{\"a\": {\"y\": 2, \"z\": 3}}`. In this example, `a` is\n    actually an include at the root level, hence, excludes `b`.\n\n- **Nested only**: when a field is prefixed by `*` and has a nested path,\n  it only affects includes / excludes for the nested fields, without affecting\n  the current level. Only nested fields are configured.\n  Examples:\n  - `[\"*a.x\"]` results in `{\"a\": {\"x\": 1}, \"b\": 0}`. In this example, `a` is\n    configured to include only `x`. `b` is also included because, there is no\n    explicit includes at root level.\n  - `[\"*a.-x\"]` results in `{\"a\": {\"y\": 2, \"z\": 3}, \"b\": 0}`. In this example,\n    `a` is configured to exclude only `x`. `b` is also included because there\n    is no explicit includes at the root level.\n    For backwards compatibility, this can also be expressed in a special\n    syntax `-a.x`. Also, keep in mind that `-x.y.z` is equivalent to `*x.*y.-z`.\n\nYou cannot have the same field included and excluded at the same time - a HTTP `422` status will be returned. Also, when mixing nested excludes with explicit includes or excludes, the nested exclude will be ignored. For example, using `[\"*a.x\", \"a.y\"]` will ignore the `*a.x` definition, resulting in `{\"a\": {\"y\": 2}}`.\n\n-----------\n\nFor details of the deprecated elements (operations and model) please visit the [deprecation notes page](https://documentation.cyclos.org/4.16.14/api-deprecation.html) for this version.",
    "version" : "4.16.14"
  },
  "servers" : [ {
    "url" : "https://demo.cyclos.org/api"
  } ],
  "tags" : [ {
    "name" : "Auth",
    "description" : "Operations regarding the user authentication, such as login / logout, activating / deactivating an access client and obtaining the current authenticated user information."
  }, {
    "name" : "Sessions",
    "description" : "Operations for administrators managing sessions of other users."
  }, {
    "name" : "Captcha",
    "description" : "Generate new captcha challenges, which are required for some operations performed as guest, in order to make it harder for bots to abuse the api."
  }, {
    "name" : "IdentityProviders",
    "description" : "Provides access operations using identity providers such as Google or Facebook. The operations involving the user consent cannot be implemented solely with this API, because a browser window must be opened for the user to consent with the operation. Such operations need first to be prepared, which will store validate and store all the context in the application, and then the popup must be opened. After finishing, the resulting data is sent via push notifications. For more information, see the corresponding section in the [Wiki](https://wiki.cyclos.org/index.php/External_identity_providers#Using_identity_providers_together_with_the_REST_API)."
  }, {
    "name" : "Users",
    "description" : "User searching, registration and profile modification. Also provides access to the user map directory."
  }, {
    "name" : "Operators",
    "description" : "Operations over operators, which are users created by other users to manage their data. The registration of operators is performed in this tag, but the view and edition of profile fields or full profile is performed in the `Users` tag, within `/users/{user}/...` paths. This is because operators are a special kind of users."
  }, {
    "name" : "OperatorGroups",
    "description" : "Operations over operator groups, which users can create to define which permissions their operators will have."
  }, {
    "name" : "UserStatus",
    "description" : "Viewing and setting the status of a user / operator. Examples of statuses are active, blocked, disabled, removed and purged."
  }, {
    "name" : "Phones",
    "description" : "Management of user phones, which is done separatedly from the raw user profile fields."
  }, {
    "name" : "Addresses",
    "description" : "Management of user addresses, which is done separatedly from the raw user profile fields."
  }, {
    "name" : "ContactInfos",
    "description" : "Management of user's public contact information, which can either represent contact information for specific employees (e.g. a salesman) or distinct subsidiary offices of the same company."
  }, {
    "name" : "Images",
    "description" : "Provides access to images of all kinds, for getting metadata, content and management operations."
  }, {
    "name" : "Files",
    "description" : "Provides access to raw files, maily used to interact with custom field values of type file."
  }, {
    "name" : "Documents",
    "description" : "Provides access to documents, which can be shared or individual."
  }, {
    "name" : "GroupMembership",
    "description" : "Viewing and setting the group of a user / operator."
  }, {
    "name" : "ProductAssignment",
    "description" : "Viewing and managing the assigned products to a user."
  }, {
    "name" : "Brokering",
    "description" : "Viewing and manage the brokers of a user."
  }, {
    "name" : "Passwords",
    "description" : "Management of a user's passwords."
  }, {
    "name" : "TOTP",
    "description" : "Management of a user's TOTP secret. TOTPs are defined by [RFC 6238](https://www.rfc-editor.org/rfc/rfc6238), and use an authenticator app (such as Google Authenticator or Microsoft Authenticator) to generate passwords to confirm operations."
  }, {
    "name" : "Contacts",
    "description" : "Management of a user contact list."
  }, {
    "name" : "Agreements",
    "description" : "Provides access to agreements the authenticated user must accept in order to use the system."
  }, {
    "name" : "Devices",
    "description" : "Operations regarding trusted devices."
  }, {
    "name" : "DeviceConfirmations",
    "description" : "Allows confirmation of operations using trusted devices."
  }, {
    "name" : "DevicePins",
    "description" : "A PIN is an easier way to login to the system instead of using the principal / password. When a PIN is defined, it will be associated to the current channel and to the user identification method / password type that was used when authenticating, thus inheriting its security restrictions. E.g. if the user identification method associated to the PIN is removed from the list of methods defined to access the channel, then the PIN will not work either. Enabling a PIN must be done through the corresponding channel configuration."
  }, {
    "name" : "Accounts",
    "description" : "Provides access to account information, such as the status (balance, credit limit and so on) and account history (list of balance transfers between accounts)."
  }, {
    "name" : "AccountVisibility",
    "description" : "Provides access for the personal settings of users to show or hide particular accounts."
  }, {
    "name" : "BalanceLimits",
    "description" : "Provides access to the balance limits of user accounts, as well as setting them."
  }, {
    "name" : "PaymentLimits",
    "description" : "Provides access to the payment limits of user accounts, as well as setting them."
  }, {
    "name" : "Transfers",
    "description" : "Provides access to balance transfers (also called transfers). A transfer represents the actual and definitive transfer of funds between two accounts."
  }, {
    "name" : "Transactions",
    "description" : "Provides access to transactions. A transaction is an intent to transfer balance between accounts. A transaction will generate zero or more balance transfers between accounts. For example, a direct payment beween 2 users can initially be pending administration authorization. Until it is authorized, no transfer will be generated. Once authorized, a transfer will be created. Another kind of transaction, a scheduled payment, will generate one transfer per processed installment. The kinds of transactions are:\n\n- __Direct payment__: A simple payment from / to a user or system\n  account. Depending on the configuration, can require authorization\n  to be processed.\n\n- __Scheduled payment__: A payment processed either on a single future\n  date or in several installments. Depending on the configuration, can\n  require authorization to be processed.\n\n- __Recurring payment__: A payment which is repeated for a fixed number\n  of occurrences or until manually canceled. Depending on the\nconfiguration,\n  can require authorization to be processed.\n\n- __Chargeback__: A chargeback triggers a transfer with the same origin\n  and destination as an original transfer, but with negative amount,\n  effectively returning the balance to the original account.\n\n- __Payment request__: A payment filled-in by the payee. Once the payer\n  accepts the reqiest, either a direct or scheduled payment is created\n  (which could, depending on the configuration, be pending authorization).\n\n- __External payment__: A payment to a user not yet registered on the\n  system. The payment amount is reserved to either an e-mail address or\n  mobile phone number. Once a user registers using either data, the\npayment\n  will be performed.\n\n- __Import__: A transaction that was imported from file.\n- __Ticket__: A payment filled-in by the payee but without a defined\n  payer. Once a user (the payer) approces the ticket and the ticket owner\n  (receiver) processes it, a direct payment is created (which could,\n  depending on the configuration, be pending authorization).\n\n- __Order__: Payment generated by finishing the shopping cart checkout\n  or confirming a webshop order. Depending on the configuration, can\nrequire\n  authorization to be processed."
  }, {
    "name" : "EasyInvoices",
    "description" : "Provides access for performing direct payments from easy invoices."
  }, {
    "name" : "Payments",
    "description" : "Provides access for performing payments or scheduled payments."
  }, {
    "name" : "ScheduledPayments",
    "description" : "Provides actions specific to scheduled payments and installments. Performing a scheduled payment is done via `Payments`, while searching or viewing details, via `Transactions`."
  }, {
    "name" : "Installments",
    "description" : "Provides search and actions over scheduled payment installments and recurring payment occurrences. Both are generically treated as `Installments`."
  }, {
    "name" : "RecurringPayments",
    "description" : "Provides actions specific to recurring payments and their occurrences. Performing a recurring payment is done via `Payments`, while searching or viewing details, via `Transactions`."
  }, {
    "name" : "PendingPayments",
    "description" : "Provides actions for payments that are still pending authorization."
  }, {
    "name" : "PaymentRequests",
    "description" : "Provide access to payment requests. A payment request is created by the payee with a defined payer. Once the payer (i.e the request's recipient) accepts the request, either a direct or scheduled payment is created (which could, depending on the configuration, be pending authorization)."
  }, {
    "name" : "ExternalPayments",
    "description" : "Provides actions specific to external payments. Searching or viewing details are done via `Transactions`."
  }, {
    "name" : "POS",
    "description" : "Provides access for receiving payments or scheduled payments in Point-Of-Sale (POS) operations."
  }, {
    "name" : "Clients",
    "description" : "Access clients provide a token for user authentication without decoupled from the login name and password."
  }, {
    "name" : "Vouchers",
    "description" : "Vouchers are the way by which a user (possibly not registered in the system) can buy at places that accepts tickets. The shop / seller will then redeem the voucher."
  }, {
    "name" : "VoucherInfo",
    "description" : "Provides services to get information about vouchers. Operations in this tag, as well as returned data, are subject to change without further notice."
  }, {
    "name" : "Tickets",
    "description" : "Provide access to tickets. A ticket represents a payment with a destinatary but possibly without a defined payer. They allow to a user (e.g a shop) generate a ticket for himself and send it to another user to allow pay it."
  }, {
    "name" : "Mobile",
    "description" : "Contains operations used by the mobile application. Operations in this tag, as well as returned data, are subject to change without further notice."
  }, {
    "name" : "Frontend",
    "description" : "Contains operations used by the new frontend. Operations in this tag, as well as returned data, are subject to change without further notice."
  }, {
    "name" : "Notifications",
    "description" : "Provides access to the notifications the authenticated user has received."
  }, {
    "name" : "NotificationSettings",
    "description" : "Provides access to the notifications settings, where users can choose which kinds of notifications they want to receive, and via which mediums (internal / e-mail / sms)."
  }, {
    "name" : "Messages",
    "description" : "Provides access to send messages between users."
  }, {
    "name" : "Records",
    "description" : "Provides access to custom records"
  }, {
    "name" : "Tokens",
    "description" : "Provides access to tokens, which are commonly used as cards, but are more generic. Tokens are user identifications whose status can be managed."
  }, {
    "name" : "Operations",
    "description" : "Provides access to custom operations"
  }, {
    "name" : "Wizards",
    "description" : "Provides access to custom wizards"
  }, {
    "name" : "Marketplace",
    "description" : "Provides access to the marketplace, that is, searching or managing advertisements. The name `marketplace` is used on paths instead of `ads` or `advertisements` because one of the use cases of this API is to be used directly by pages from the browser, and ad-blocking browser extensions would normally deny such requests."
  }, {
    "name" : "AdQuestions",
    "description" : "Provides access to advertisement questions."
  }, {
    "name" : "ShoppingCarts",
    "description" : "Provides access to shopping carts. Users can add webshop advertisements to the shopping cart, and then check-out them, performing the payment. For each user, one shopping cart is created per currency and seller. A shopping cart is an early stage or an `Order`. once checked out, use the operations in the `Orders` tag to access it."
  }, {
    "name" : "Orders",
    "description" : "An order contains a set of items from a seller, to a buyer in a certain currency. Orders can be created in 2 ways: either via a shopping cart checkout (by the buyer, using the operations in the `ShoppingCarts` tag to access it. ) or directly by the seller. Once created, the order must be approved by the other party until its payment is finally performed."
  }, {
    "name" : "DeliveryMethods",
    "description" : "Provides access to webshop delivery methods, which must be selected for an order to be created. A delivery method can have either a fixed amount or be negotiated between the seller and the buyer."
  }, {
    "name" : "WebshopSettings",
    "description" : "Provides access to general webshop settings for sellers."
  }, {
    "name" : "AdInterests",
    "description" : "Provides access to advertisement interests, which are criteria registered by users to be notified when new matching advertisements are published."
  }, {
    "name" : "NFC",
    "description" : "Contains operations regarding NFC tags"
  }, {
    "name" : "Push",
    "description" : "Provides a way for clients to subscribe for push notifications"
  }, {
    "name" : "UI",
    "description" : "Provides data used to create alternative user interfaces"
  }, {
    "name" : "Validation",
    "description" : "Provides access to complete pending actions waiting for validation."
  }, {
    "name" : "Localization",
    "description" : "Provides access to different languages and localization settings."
  }, {
    "name" : "Alerts",
    "description" : "Provides access to alerts generated in the system. Currently only user alerts are supported (system alerts are not)."
  }, {
    "name" : "References",
    "description" : "Provides access to (general) references, which are given from a user to another to show the satisfaction level."
  }, {
    "name" : "PaymentFeedbacks",
    "description" : "Provides access to feedbacks given to user-to-user payments."
  }, {
    "name" : "OIDC",
    "description" : "Provides the delegation of data and operations via OAuth2 / OpenID Connect. These are standard protocols which enables logging-in on other services with this application, as well as allowing external services to perform operations in behalf of users."
  }, {
    "name" : "PrivacySettings",
    "description" : "Provides a way to define how the personal data can be accessed."
  }, {
    "name" : "Firebase",
    "description" : "Provides integration with Firebase products, e.g. FCM."
  }, {
    "name" : "Invite",
    "description" : "Provides operations to invite external users to join the system."
  }, {
    "name" : "Imports",
    "description" : "Provides operations to import varios database entities from CSV files."
  } ],
  "security" : [ {
    "basic" : [ ]
  }, {
    "session" : [ ]
  }, {
    "accessClient" : [ ]
  } ],
  "paths" : {
    "/auth" : {
      "get" : {
        "operationId" : "getCurrentAuth",
        "summary" : "Returns data about the currently authenticated user",
        "description" : "Returns the logged user information.",
        "tags" : [ "Auth" ],
        "parameters" : [ {
          "$ref" : "#/components/parameters/fields"
        } ],
        "responses" : {
          "200" : {
            "description" : "An object containing the authenticated user information",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Auth"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized access. Missing or invalid crendentials supplied for such operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403" : {
            "description" : "Either permission was denied for such operation or an illegal action was attempted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404" : {
            "description" : "An expected data was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405" : {
            "description" : "Some required service is unavailable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnavailableError"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/data-for-login" : {
      "get" : {
        "operationId" : "getDataForLogin",
        "summary" : "Returns data containing the configuration for logging-in",
        "description" : "Contains data useful for login, such as the allowed user identification methods, the password type and data for the forgot password request.",
        "tags" : [ "Auth" ],
        "parameters" : [ {
          "$ref" : "#/components/parameters/fields"
        }, {
          "name" : "deviceId",
          "in" : "query",
          "required" : false,
          "description" : "Trusted device identification. If given and the device is active then a pending device confirmation will be created that will be validated after the user logs-in. If the validation passes then no confirmation password will be used only for that session.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "pinPrincipal",
          "in" : "query",
          "required" : false,
          "description" : "Device PIN principal. If given then the information about whether it is active or not will be given in the returned `dataForLogin`.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Data for the login functionality",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataForLogin"
                }
              }
            }
          },
          "204" : {
            "description" : "If there is an authenticated user already"
          },
          "401" : {
            "description" : "Unauthorized access. Missing or invalid crendentials supplied for such operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403" : {
            "description" : "Either permission was denied for such operation or an illegal action was attempted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404" : {
            "description" : "An expected data was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405" : {
            "description" : "Some required service is unavailable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnavailableError"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/session" : {
      "get" : {
        "operationId" : "getSessionProperties",
        "summary" : "Returns properties of the current session",
        "description" : "Only when there's an authenticated user via session (`Session-Token` header). Otherwise, nothing is returned.",
        "tags" : [ "Auth" ],
        "parameters" : [ {
          "$ref" : "#/components/parameters/fields"
        } ],
        "responses" : {
          "200" : {
            "description" : "Properties of the current session",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SessionPropertiesView"
                }
              }
            }
          },
          "204" : {
            "description" : "If not authenticated with a session"
          },
          "401" : {
            "description" : "Unauthorized access. Missing or invalid crendentials supplied for such operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403" : {
            "description" : "Either permission was denied for such operation or an illegal action was attempted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404" : {
            "description" : "An expected data was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405" : {
            "description" : "Some required service is unavailable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnavailableError"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put" : {
        "operationId" : "setSessionProperties",
        "summary" : "Sets properties of the current session",
        "description" : "Currently the only property that can be set is `source`. However, in order to do it, the current session must be trusted.",
        "tags" : [ "Auth" ],
        "security" : [ {
          "session" : [ ]
        } ],
        "requestBody" : {
          "description" : "The new properties",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SessionPropertiesEdit"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "The session properties are updated and nothing is returned."
          },
          "401" : {
            "description" : "Unauthorized access. Missing or invalid crendentials supplied for such operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403" : {
            "description" : "Either permission was denied for such operation or an illegal action was attempted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404" : {
            "description" : "An expected data was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405" : {
            "description" : "Some required service is unavailable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnavailableError"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post" : {
        "operationId" : "login",
        "summary" : "Logs-in the currently authenticated user or perform a login through a trusted device.",
        "description" : "Logs-in the currently authenticated user (if any) or the user owner of the given deviceId only if the device confirmation (returned in /auth/data-for-login) can be approved. If the login was successful then the session token is returned. This token can then be used on subsequent requests. After finishing the session, the user can then logout by sending an HTTP DELETE to /auth.",
        "tags" : [ "Auth" ],
        "parameters" : [ {
          "$ref" : "#/components/parameters/fields"
        }, {
          "name" : "cookie",
          "in" : "query",
          "required" : false,
          "description" : "If true then the server adds the `Session-Token` cookie to the response containing only the second half of the session token. The returned `sessionToken` field will contain the first half.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "timeoutInSeconds",
          "in" : "query",
          "required" : false,
          "description" : "The timeout in seconds for the created session. If this value is not given or it is greater than that for the channel then the timeout for the channel will be used.",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "deviceConfirmationId",
          "in" : "query",
          "required" : false,
          "description" : "The id of the confirmation (returned in the DataForLogin)",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userAgentId",
          "in" : "query",
          "required" : false,
          "description" : "A stable client-side generated id which will be used to identify when the user has logged-in from a previously unknown device, and then notify the user.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deviceId",
          "in" : "query",
          "required" : false,
          "description" : "The id of the device used to confirm the session as trusted.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hmac",
          "in" : "query",
          "required" : false,
          "description" : "The HMAC-SHA256 calculated for the QR-code of the confirmation using the secret key stored in the device.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "identityProviderRequestId",
          "in" : "query",
          "required" : false,
          "description" : "When using an [external identity provider](https://wiki.cyclos.org/index.php/External_identity_providers), this is the request id used to automatically link the user to the provider. Is only needed when no user was matched, that is, no user in Cyclos was linked to the identifier returned by the provider, and no user was found in Cyclos with the same e-mail address as returned by the provider.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fcmDeviceToken",
          "in" : "query",
          "required" : false,
          "description" : "When using firebase, this is the token assigned to the device. It will be used to associate it to the user being logged in. This will allow the user receive platform notifications.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "mobileAppVersion",
          "in" : "query",
          "required" : false,
          "description" : "The version of the mobile application the user being logged in is using.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Information about the authenticated user. Is the same data returned on GET /auth",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LoginAuth"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized access. Missing or invalid crendentials supplied for such operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403" : {
            "description" : "Either permission was denied for such operation or an illegal action was attempted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404" : {
            "description" : "An expected data was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405" : {
            "description" : "Some required service is unavailable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnavailableError"
                }
              }
            }
          },
          "422" : {
            "description" : "Input error. Either a validation error or the maximum allowed items was exceeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InputError"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "operationId" : "logout",
        "summary" : "Log-out the current session",
        "description" : "Invalidates the session used for authentication",
        "tags" : [ "Auth" ],
        "parameters" : [ {
          "name" : "cookie",
          "in" : "query",
          "required" : false,
          "description" : "If true then the server adds the `Session-Token` cookie to the response containing only the second half of the session token. The returned `sessionToken` field will contain the first half.",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "security" : [ {
          "session" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "The session was invalidated"
          },
          "409" : {
            "description" : "This operation expected an entity state, but it has resulted in a conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConflictError"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized access. Missing or invalid crendentials supplied for such operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403" : {
            "description" : "Either permission was denied for such operation or an illegal action was attempted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404" : {
            "description" : "An expected data was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405" : {
            "description" : "Some required service is unavailable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnavailableError"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/session/replace/{sessionToken}" : {
      "post" : {
        "operationId" : "replaceSession",
        "summary" : "Replaces a session token previously obtained",
        "description" : "This operation is intended to be used by custom frontends which log-in users externally. In those cases, the full session token is obtained. This operation replaces that session token, assuming it could be compromised by being sent through other mediums (e-mail, etc) by a new session token. The given session token is validated and removed, and a new session is created. Also accepts the `cookie` parameter with the same meaning as the `login` / `logout` operations.\n\nThis operation can only be invoked as guest.",
        "tags" : [ "Auth" ],
        "parameters" : [ {
          "name" : "sessionToken",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "description" : "The full session token obtained externally"
        }, {
          "name" : "cookie",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          },
          "description" : "If true then the server adds the `Session-Token` cookie to the response containing only the second half of the session token. The returned `sessionToken` field will contain the first half."
        } ],
        "responses" : {
          "200" : {
            "description" : "The new session token, either just half of it or full, according to the `cookie` parameter.",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized access. Missing or invalid crendentials supplied for such operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403" : {
            "description" : "Either permission was denied for such operation or an illegal action was attempted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404" : {
            "description" : "An expected data was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405" : {
            "description" : "Some required service is unavailable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnavailableError"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/session/login-confirmation" : {
      "get" : {
        "security" : [ {
          "session" : [ ]
        } ],
        "operationId" : "getLoginConfirmation",
        "summary" : "Returns the data for entering the login confirmation.",
        "description" : "Only if login confirmation is used for the currently logged user.",
        "tags" : [ "Auth" ],
        "responses" : {
          "200" : {
            "description" : "Data for entering the login confirmation credential",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PasswordInput"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized access. Missing or invalid crendentials supplied for such operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403" : {
            "description" : "Either permission was denied for such operation or an illegal action was attempted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404" : {
            "description" : "An expected data was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405" : {
            "description" : "Some required service is unavailable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnavailableError"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post" : {
        "security" : [ {
          "session" : [ ]
        } ],
        "operationId" : "confirmLogin",
        "summary" : "Confirms the login in the current session.",
        "description" : "Validates the login in the current session.",
        "tags" : [ "Auth" ],
        "parameters" : [ ],
        "responses" : {
          "204" : {
            "description" : "The session was validated correctly and the user login was finished."
          },
          "401" : {
            "description" : "Unauthorized access. Missing or invalid crendentials supplied for such operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403" : {
            "description" : "Either permission was denied for such operation or an illegal action was attempted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404" : {
            "description" : "An expected data was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405" : {
            "description" : "Some required service is unavailable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnavailableError"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody" : {
          "description" : "The confirmation credential, as configured. When using a device confirmation, should be `confirmation:<id>`, and when using a TOTP from an authenticator app, should be `totp:<code>`.",
          "required" : true,
          "content" : {
            "text/plain" : {
              "schema" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/auth/session/login-confirmation/otp" : {
      "post" : {
        "security" : [ {
          "session" : [ ]
        } ],
        "operationId" : "newOtpForLoginConfirmation",
        "summary" : "Generates a new One-Time-Password (OTP) for the login confirmation.",
        "description" : "Used when the channel is configured to use a password with `PasswordInput.mode` = `otp`.",
        "tags" : [ "Auth" ],
        "parameters" : [ {
          "name" : "medium",
          "in" : "query",
          "required" : true,
          "description" : "The medium the user wants to receive the OTP",
          "schema" : {
            "$ref" : "#/components/schemas/SendMediumEnum"
          }
        }, {
          "name" : "mobilePhones",
          "description" : "The mobile phones (comma-separated list of identifiers) to send the otp when the medium is `sms`. If not given, the sms will be sent to all mobiles phones enabled for sms.",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The OTP is sent to the user, and the e-mail or list of normalized mobile phone numbers that received the OTP are returned.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized access. Missing or invalid crendentials supplied for such operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403" : {
            "description" : "Either permission was denied for such operation or an illegal action was attempted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404" : {
            "description" : "An expected data was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405" : {
            "description" : "Some required service is unavailable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnavailableError"
                }
              }
            }
          },
          "422" : {
            "description" : "Input error. Either a validation error or the maximum allowed items was exceeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InputError"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/access-client" : {
      "delete" : {
        "operationId" : "disconnectCurrentClient",
        "summary" : "Disconnect the current access client",
        "description" : "Changes the status of the access client used for authentication, disconnecting it. To be reused, it has to be activated again.",
        "tags" : [ "Auth" ],
        "security" : [ {
          "accessClient" : [ ]
        } ],
        "parameters" : [ {
          "$ref" : "#/components/parameters/confirmationPassword"
        } ],
        "responses" : {
          "200" : {
            "description" : "The access client was disconnected"
          },
          "409" : {
            "description" : "This operation expected an entity state, but it has resulted in a conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConflictError"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized access. Missing or invalid crendentials supplied for such operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403" : {
            "description" : "Either permission was denied for such operation or an illegal action was attempted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404" : {
            "description" : "An expected data was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405" : {
            "description" : "Some required service is unavailable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnavailableError"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/otp" : {
      "post" : {
        "operationId" : "newOtp",
        "summary" : "Generates a new One-Time-Password (OTP) for the authenticated user",
        "description" : "Sends a new OTP for the authenticated user. Used when the confirmation password of a specific action is required and `PasswordInput.mode` is `otp`.",
        "tags" : [ "Auth" ],
        "security" : [ {
          "basic" : [ ]
        }, {
          "session" : [ ]
        }, {
          "accessClient" : [ ]
        } ],
        "parameters" : [ {
          "name" : "otpChannel",
          "in" : "query",
          "required" : false,
          "description" : "The channel name in which the OTP will be used to confirm the operation. Please do not confuse with the parameter used to specify the channel through the client is connecting with Cyclos. The configuration for the given channel will be used to validate the request. E.g. when confirming an easy invoice / ticket through a custom front using a channel other than `easyInvoice` / `ticket` then the channel `easyInvoice` / `ticket` must be set at the moment of requesting an OTP.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "medium",
          "in" : "query",
          "required" : true,
          "description" : "The medium the user wants to receive the OTP",
          "schema" : {
            "$ref" : "#/components/schemas/SendMediumEnum"
          }
        }, {
          "name" : "mobilePhones",
          "description" : "The mobile phones (comma-separated list of identifiers) to send the otp when the medium is `sms`. If not given, the sms will be sent to all mobiles phones enabled for sms.",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The OTP is sent to the user, and the e-mail or list of normalized mobile phone numbers that received the OTP are returned.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized access. Missing or invalid crendentials supplied for such operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403" : {
            "description" : "Either permission was denied for such operation or an illegal action was attempted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404" : {
            "description" : "An expected data was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405" : {
            "description" : "Some required service is unavailable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnavailableError"
                }
              }
            }
          },
          "422" : {
            "description" : "Input error. Either a validation error or the maximum allowed items was exceeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InputError"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/forgotten-password/request" : {
      "post" : {
        "operationId" : "forgottenPasswordRequest",
        "summary" : "Requests a forgotten password, notifying the user with instructions to reset it",
        "description" : "Sends a verification code to the user, either by e-mail or SMS, so that they can change the password if it was forgotten. For it to work, the Cyclos configuration must allow the forgotten password operation.",
        "tags" : [ "Auth" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "The verification code is sent",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForgottenPasswordResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized access. Missing or invalid crendentials supplied for such operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403" : {
            "description" : "Either permission was denied for such operation or an illegal action was attempted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404" : {
            "description" : "An expected data was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405" : {
            "description" : "Some required service is unavailable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnavailableError"
                }
              }
            }
          },
          "422" : {
            "description" : "Input error. Either a validation error or the maximum allowed items was exceeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InputError"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody" : {
          "description" : "The parameters for requesting a forgotten password reset",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ForgottenPasswordRequest"
              }
            }
          }
        }
      }
    },
    "/auth/forgotten-password/data-for-change" : {
      "get" : {
        "operationId" : "getDataForChangeForgottenPassword",
        "summary" : "Returns configuration data used to change a forgotten password after the initial request",
        "description" : "After the user has requested a forgotten password reset, using the `POST /auth/forgotten-password/request` path, the received e-mail or sms will contain the verification code which can be used to actually change the password. This code and the user must be passed to this operation in order to request input on the new password, and maybe confirm the security question, depending on the Cyclos configuration.",
        "tags" : [ "Auth" ],
        "parameters" : [ {
          "$ref" : "#/components/parameters/fields"
        }, {
          "name" : "user",
          "in" : "query",
          "required" : true,
          "description" : "The user identification for password change",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "code",
          "in" : "query",
          "required" : true,
          "description" : "The verification code which was sent to the user",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The data for proceeding with the forgot password reset",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataForChangeForgottenPassword"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized access. Missing or invalid crendentials supplied for such operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403" : {
            "description" : "Either permission was denied for such operation or an illegal action was attempted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404" : {
            "description" : "An expected data was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405" : {
            "description" : "Some required service is unavailable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnavailableError"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/forgotten-password" : {
      "post" : {
        "operationId" : "changeForgottenPassword",
        "summary" : "Changes the a forgotten password after have completed the request",
        "description" : "Changes the password (if manual), or sends a new one by e-mail (if generated) after the forgotten password reset process is completed.",
        "tags" : [ "Auth" ],
        "parameters" : [ ],
        "responses" : {
          "204" : {
            "description" : "The password is changed (if manual) or reset and sent by e-mail (if generated) and nothing is returned."
          },
          "401" : {
            "description" : "Unauthorized access. Missing or invalid crendentials supplied for such operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403" : {
            "description" : "Either permission was denied for such operation or an illegal action was attempted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404" : {
            "description" : "An expected data was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405" : {
            "description" : "Some required service is unavailable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnavailableError"
                }
              }
            }
          },
          "422" : {
            "description" : "Input error. Either a validation error or the maximum allowed items was exceeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InputError"
                }
              }
            }
          },
          "500" : {
            "description" : "There was an error when changing the forgotten password",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForgottenPasswordError"
                }
              }
            }
          }
        },
        "requestBody" : {
          "description" : "The parameters for changing the password",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChangeForgottenPassword"
              }
            }
          }
        }
      }
    },
    "/auth/session/secondary-password" : {
      "get" : {
        "deprecated" : true,
        "x-remove-version" : 4.18,
        "security" : [ {
          "session" : [ ]
        } ],
        "operationId" : "getSecondaryPasswordInput",
        "summary" : "Use `GET /auth/session/login-confirmation` instead.",
        "description" : "DEPRECATED",
        "tags" : [ "Auth" ],
        "responses" : {
          "200" : {
            "description" : "Data for a secondary access password input",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PasswordInput"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized access. Missing or invalid crendentials supplied for such operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403" : {
            "description" : "Either permission was denied for such operation or an illegal action was attempted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404" : {
            "description" : "An expected data was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405" : {
            "description" : "Some required service is unavailable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnavailableError"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post" : {
        "deprecated" : true,
        "x-remove-version" : 4.18,
        "security" : [ {
          "session" : [ ]
        } ],
        "operationId" : "validateSecondaryPassword",
        "summary" : "Use `POST /auth/session/login-confirmation` instead.",
        "description" : "DEPRECATED",
        "tags" : [ "Auth" ],
        "parameters" : [ ],
        "responses" : {
          "204" : {
            "description" : "The session was validated correctly and the user has logged in successfully."
          },
          "401" : {
            "description" : "Unauthorized access. Missing or invalid crendentials supplied for such operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403" : {
            "description" : "Either permission was denied for such operation or an illegal action was attempted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404" : {
            "description" : "An expected data was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405" : {
            "description" : "Some required service is unavailable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnavailableError"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody" : {
          "description" : "The secondary access password",
          "required" : true,
          "content" : {
            "text/plain" : {
              "schema" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/auth/session/secondary-password/otp" : {
      "post" : {
        "deprecated" : true,
        "x-remove-version" : 4.18,
        "security" : [ {
          "session" : [ ]
        } ],
        "operationId" : "newOtpForSecondaryPassword",
        "summary" : "Use `POST /auth/session/login-confirmation/otp` instead.",
        "description" : "DEPRECATED",
        "tags" : [ "Auth" ],
        "parameters" : [ {
          "name" : "medium",
          "in" : "query",
          "required" : true,
          "description" : "The medium the user wants to receive the OTP",
          "schema" : {
            "$ref" : "#/components/schemas/SendMediumEnum"
          }
        }, {
          "name" : "mobilePhones",
          "description" : "The mobile phones (comma-separated list of identifiers) to send the otp when the medium is `sms`. If not given, the sms will be sent to all mobiles phones enabled for sms.",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The OTP is sent to the user, and the e-mail or list of normalized mobile phone numbers that received the OTP are returned.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized access. Missing or invalid crendentials supplied for such operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403" : {
            "description" : "Either permission was denied for such operation or an illegal action was attempted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404" : {
            "description" : "An expected data was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405" : {
            "description" : "Some required service is unavailable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnavailableError"
                }
              }
            }
          },
          "422" : {
            "description" : "Input error. Either a validation error or the maximum allowed items was exceeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InputError"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/oidc/authorize" : {
      "get" : {
        "operationId" : "oidcAuthorize",
        "summary" : "The standard OAuth2 / OpenID Connect authorization endpoint.",
        "description" : "Creates a new authorization request. A redirect in HTML format is returne, which should be followed for the user to identify himself and grant the consent to the requested resources.\nFor more information, see also:\n\n- [OAuth 2.0 authorization endpoint](http://tools.ietf.org/html/rfc6749#section-3.1)\n- [OIDC authentication request](http://openid.net/specs/openid-connect-core-1_0.html#AuthRequest)\n- [OIDC successful authentication response](http://openid.net/specs/openid-connect-core-1_0.html#AuthResponse)\n- [OIDC authentication error response](http://openid.net/specs/openid-connect-core-1_0.html#AuthError)\n\nThe following standard optional parameters are not supported by Cyclos, and thus, ignored:\n\n- `claims`\n- `claims_locales`\n- `max_age`\n- `id_token_hint`\n- `ui_locales`\n- `acr_value`.",
        "tags" : [ "OIDC" ],
        "parameters" : [ {
          "name" : "scope",
          "in" : "query",
          "required" : true,
          "description" : "A space-delimited list of requested scopes. Scopes are permissions to view user data and to perform operations in behalf of the user.\n\nThe OpenID standard scopes are supported:\n- `openid` for enabling the OpenID Connect id tokens. When not\n  requested, standard OAuth2 will be used;\n\n- `profile` for basic profile data access;\n- `email` for e-mail access;\n- `phone` for phone number access;\n- `address` for address access;\n- `offline_access` for refresh tokens to be issued.\n\nOther scopes are defined in Cyclos which represent permissions. These scopes are listed in https://demo.cyclos.org/.well-known/openid-configuration.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "response_type",
          "in" : "query",
          "required" : true,
          "description" : "A space-delimited list of response types for this authentication. Accepted avalues are:\n\n- `code`: returing the Authorization code\n- `id_token`: returns the Id token\n- `token`: returns the access token",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "client_id",
          "in" : "query",
          "required" : true,
          "description" : "The client id as registered in the Cyclos, in OpenID Connect client.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "redirect_uri",
          "in" : "query",
          "required" : true,
          "description" : "The URI to which users will be redirected after authentication. Must match one of the registered redirect URIs in Cyclos, in OpenID Connect client.\n",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "state",
          "in" : "query",
          "required" : false,
          "description" : "A client-state string, which is opaque to the server. Will be passed back to the redirect URL as well as in the generated tokens. Can be used to prevent CSRF attacks by clients.\n",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "response_mode",
          "in" : "query",
          "required" : false,
          "description" : "How to pass parameters in the redirect URL. Accepted values are:\n\n- `query`: Uses the query string, such as `https://example.com/result?param1=value1&param2=value2`\n- `fragment`: Uses fragments / hash, such as `https://example.com/result#param1=value1&param2=value2`\n- `form_post`: Renders an HTML that immediately performs a FORM POST with the parameters\n",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "nonce",
          "in" : "query",
          "required" : false,
          "description" : "A nonce provided by the client, which will be included in any ID token generated for this session. This is a opaque string for the server, but clients should use it to mitigate replay attacks.\n",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "display",
          "in" : "query",
          "required" : false,
          "description" : "How the consent page should be displayed. Though currently the consent page is responsive, and as such, doesn't depend on this value, the accepted values are the standard `page`, `popup` and `touch`.\n",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "prompt",
          "in" : "query",
          "required" : false,
          "description" : "Space-delimited string that determines how the consent page is displayed to the end user.\n\nCyclos currently presents the login and consent page together, so any value other than `none` will actually present the page to the end user to login and consent. There is no such state as a 'previously logged-in' user that would only consent, or first login and then consent. As such, whenever `prompt=none`, Cyclos always replies with `login_required`.\n",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "login_hint",
          "in" : "query",
          "required" : false,
          "description" : "A principal value (username, e-mail, phone number) for the user that will be initially presented in the authentication page.\n",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "302" : {
            "description" : "Either the request succeeded and the referred location is the user login / consent page, or an error was found, and the referred location is the requested `redirect_uri` with the `error` parameter.",
            "headers" : {
              "Location" : {
                "description" : "The URI to follow",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Either the `client_id` parameter was invalid, the `redirect_uri` parameter was not set or doesn't match a valid redirect URI as defined in Cyclos. In this case, both `error` and `error_description` are sent encoded in the response body.",
            "content" : {
              "application/x-www-form-urlencoded" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/oidc/token" : {
      "post" : {
        "operationId" : "oidcToken",
        "summary" : "The standard OAuth2 / OpenID Connect token endpoint.",
        "description" : "Exchanges an authorization code for an id token and / or access token. The client id / secret can either be passed in via a basic authentication or via the `client_id` and `client_secret` parameters.\n\nAlthough the OpenID Connect Core specification doesn't mandate a format for access tokens, Cyclos issues them as signed JSON Web Tokens (JWTs). So, clients can, for instance, check for the expiration date in advance, without having to attempt using an expired token. Clients can verify the signature, which makes it easy to detect whether the token has been tampered with.\n\nFor more information, see also:\n\n- [OAuth 2.0 access token request](https://tools.ietf.org/html/rfc6749#section-4.1.3)\n- [OIDC token request](https://openid.net/specs/openid-connect-core-1_0.html#TokenRequest)\n- [OIDC successful token response](https://openid.net/specs/openid-connect-core-1_0.html#TokenResponse)\n- [OIDC token error response](https://openid.net/specs/openid-connect-core-1_0.html#TokenErrorResponse)",
        "tags" : [ "OIDC" ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "required" : [ "grant_type" ],
                "properties" : {
                  "client_id" : {
                    "description" : "The client id when not using an HTTP Basic authentication.",
                    "type" : "string"
                  },
                  "client_secret" : {
                    "description" : "The client secret when not using an HTTP Basic authentication.",
                    "type" : "string"
                  },
                  "grant_type" : {
                    "description" : "The supported values are `authorization_code` and `refresh_token`.",
                    "type" : "string"
                  },
                  "code" : {
                    "description" : "The authorization code received in the authorize endpoint. Required when `grant_type` is `authorization_code`.",
                    "type" : "string"
                  },
                  "redirect_uri" : {
                    "description" : "The same `redirect_uri` passed in the `authorize` request. Required when `grant_type` is `authorization_code`.",
                    "type" : "string"
                  },
                  "refresh_token" : {
                    "description" : "The refresh token requested authorization code received in the authorize endpoint. Required when `grant_type` is `refresh_token`.",
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The object containing the access token and the ID token",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OidcTokenResult"
                }
              }
            }
          },
          "400" : {
            "description" : "Error validating the request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OidcError"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OidcError"
                }
              }
            }
          }
        }
      }
    },
    "/oidc/revoke" : {
      "post" : {
        "operationId" : "oidcRevoke",
        "summary" : "The standard OAuth2 token revocation endpoint.",
        "description" : "Revokes a refresh token or access token.\nFor more information, see also:\n\n- [OAuth 2.0 token revocation](https://tools.ietf.org/html/rfc7009#section-2)",
        "tags" : [ "OIDC" ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "type" : "object",
                "required" : [ "token" ],
                "properties" : {
                  "client_id" : {
                    "description" : "The client id when not using an HTTP Basic authentication.",
                    "type" : "string"
                  },
                  "client_secret" : {
                    "description" : "The client secret when not using an HTTP Basic authentication.",
                    "type" : "string"
                  },
                  "token" : {
                    "description" : "The token to revoke. May correspond to either a refresh token or an access token.",
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Either the token was successfully revoked or the token isn't valid. As per spec, errors shouldn't be returned on either case."
          }
        }
      }
    },
    "/oidc/userinfo" : {
      "get" : {
        "operationId" : "oidcUserInfoGet",
        "summary" : "The standard OpenID Connect UserInfo endpoint, using the `GET` method.",
        "description" : "Returns all granted claims about the identified user. The OpenID Connect specification requires both `GET` and `POST` methods to be available for this endpoint. This is the implementation via `GET` method.\n\nFor more information, see also:\n\n- [OIDC UserInfo Endpoint](https://openid.net/specs/openid-connect-core-1_0.html#UserInfo)",
        "tags" : [ "OIDC" ],
        "security" : [ {
          "oidc" : [ "openid" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "The user claims encoded as JSON",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "401" : {
            "description" : "The provided access token is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OidcError"
                }
              }
            }
          },
          "403" : {
            "description" : "The `openid` scope was not granted for this access token",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OidcError"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OidcError"
                }
              }
            }
          }
        }
      },
      "post" : {
        "operationId" : "oidcUserInfoPost",
        "summary" : "The standard OpenID Connect UserInfo endpoint, using the `POST` method.",
        "description" : "Returns all granted claims about the identified user. The OpenID Connect specification requires both `GET` and `POST` methods to be available for this endpoint. This is the implementation via `POST` method.\n\nFor more information, see also:\n\n- [OIDC UserInfo Endpoint](https://openid.net/specs/openid-connect-core-1_0.html#UserInfo)",
        "tags" : [ "OIDC" ],
        "security" : [ {
          "oidc" : [ "openid" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "The user claims encoded as JSON",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "401" : {
            "description" : "The provided access token is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OidcError"
                }
              }
            }
          },
          "403" : {
            "description" : "The `openid` scope was not granted for this access token",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OidcError"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OidcError"
                }
              }
            }
          }
        }
      }
    },
    "/oidc/jwks" : {
      "get" : {
        "operationId" : "oidcJwks",
        "summary" : "The standard OpenID Connect JWKS endpoint.",
        "description" : "Returns the keys used to sign issued JSON Web Tokens (JWT).\n\n- [JSON Web Key (JWK)](https://tools.ietf.org/html/draft-ietf-jose-json-web-key-41)",
        "tags" : [ "OIDC" ],
        "responses" : {
          "200" : {
            "description" : "The object describing the JWKS",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JWKSResponse"
                }
              }
            }
          }
        }
      }
    },
    "/oidc/register" : {
      "post" : {
        "operationId" : "oidcRegister",
        "summary" : "The standard OAuth2 / OpenID dynamic client registration endpoint.",
        "description" : "This needs to be enabled in Cyclos configuration.\nAllows OAuth2 / OIDC clients to be dynamically registered.\n\nFor more information, see also:\n\n- [OpenID Connect Dynamic Client Registration 1.0](https://openid.net/specs/openid-connect-registration-1_0.html)",
        "tags" : [ "OIDC" ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OidcRegisterParams"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The client was registered",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OidcRegisterResult"
                }
              }
            }
          },
          "400" : {
            "description" : "Error validating the request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OidcError"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OidcError"
                }
              }
            }
          }
        }
      }
    },
    "/sessions/data-for-search" : {
      "get" : {
        "operationId" : "getSessionDataForSearch",
        "summary" : "Returns data for searching user sessions",
        "description" : "Returns data for searching connected users",
        "tags" : [ "Sessions" ],
        "security" : [ {
          "basic" : [ ]
        }, {
          "session" : [ ]
        }, {
          "accessClient" : [ ]
        } ],
        "parameters" : [ {
          "$ref" : "#/components/parameters/fields"
        } ],
        "responses" : {
          "200" : {
            "description" : "The data for searching sessions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SessionDataForSearch"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized access. Missing or invalid crendentials supplied for such operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403" : {
            "description" : "Either permission was denied for such operation or an illegal action was attempted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404" : {
            "description" : "An expected data was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "405" : {
            "description" : "Some required service is unavailable",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnavailableError"
                }
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sessions" : {
      "get" : {
        "operationId" : "searchSessions",
        "summary" : "Search for sessions",
        "description" : "Returns the sessions matching a given criteria.",
        "parameters" : [ {
          "$ref" : "#/components/parameters/fields"
        }, {
          "name" : "broker",
          "in" : "query",
          "required" : false,
          "description" : "Either id or a principal (login name, e-mail, etc) of a broker. Used to filter the sessions of users brokered by the given broker.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "channels",
          "in" : "query",
          "required" : false,
          "description" : "Internal names of the sessions channels that can be returned.",
          "schema" : {
            "type" : "array",
            "items" : {
              "description" : "",
              "type" : "string"
            }
          }
        }, {
          "name" : "excludeCurrentSession",
          "in" : "query",
          "required" : false,
          "description" : "Whether to exclude or not the current session.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "operatorsOf",
          "in" : "query",
          "required" : false,
          "description" : "Either id or a principal (login name, e-mail, etc) of a user. The owner member of the operators sessions Used to filter the operator sessions of the given user.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "required" : false,
          "description" : "The page number (zero-based) of the search. The default value is zero.",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "required" : false,
          "description" : "The maximum number of records that will be returned on the search. The default value is 40. The maximum number of returned results is configured in Cyclos, and even if more than that is requested, it will be limited by that setting.",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "roles",
          "in" : "query",
          "required" : false,
          "description" : "The role of the logged user in the sessions.",
          "schema" : {
            "type" : "array",
            "items" : {
              "description" : "",
              "$ref" : "#/components/schemas/RoleEnum"
            }
          }
        }, {
          "name" : "skipTotalCount",
          "in" : "query",
          "required" : false,
          "description" : "When set to true the result will not include the total record count, only the information on whether there are more records. Depending on the server-side configuration, this can be always true. Otherwise, if the server allows total count, and the client doesn't need it, setting this to true can increase performance a bit.",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "user",
          "in" : "query",
          "required" : false,
          "description" : "Either id or a principal (login name, e-mail, etc) of the sessions owner.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "tags" : [ "Sessions" ],
        "security" : [ {
          "basic" : [ ]
        }, {
          "session" : [ ]
        }, {
          "accessClient" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "The filtered sessions",
            "headers" : {
              "X-Total-Count" : {
                "schema" : {
                  "type" : "integer"
                },
                "description" : "The total number of results. It may be configured in Cyclos to skip the total count, which is useful on large databases, where the count itself may use a lot of resources from the database. If disabled, this header is not returned."
              },
              "X-Page-Size" : {
                "schema" : {
                  "type" : "integer"
                },
                "description" : "The maximum number of results per page"
              },
[...]
