@import 'nextra-theme-docs/style.css';
@import 'tailwindcss';
@variant dark (&:where(.dark *));

@theme {
  --color-quint-purple: #9d6ce5;
  --color-quint-dark: #2d0075;
  --color-quint-orange: #ffab70;
}

dl {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
dt {
  margin-top: 1rem;
}
dd {
  margin-top: 0.5rem;
  padding-left: 1rem;
}


.x\:text-primary-600 {
  color: hsl(var(--nextra-primary-hue), var(--nextra-primary-saturation), 57%);
}

:is(html[class~="dark"] .x\:text-primary-600) {
  color: hsl(var(--nextra-primary-hue), var(--nextra-primary-saturation), 57%);
}

.nextra-code pre {
  background-color: hsl(var(--nextra-primary-hue), var(--nextra-primary-saturation), 97%);
  --tw-ring-color: transparent;
  border-bottom-right-radius: var(--radius-xl);
  border-bottom-left-radius: var(--radius-xl);
}

.nextra-code div {
  background-color: hsl(var(--nextra-primary-hue), var(--nextra-primary-saturation), 95%);
  border-color: transparent;
  border-top-right-radius: var(--radius-xl);
  border-top-left-radius: var(--radius-xl);
}

:is(html[class~="dark"] .nextra-code div) {
  background-color: hsl(var(--nextra-primary-hue), var(--nextra-primary-saturation), 15%);
  border-color: transparent;
}

:is(html[class~="dark"] .nextra-code pre) {
  background-color: hsl(var(--nextra-primary-hue), var(--nextra-primary-saturation), 12%);
  --tw-ring-color: transparent;
}

.text-lg code {
  font-size: 1rem;
}

/* Nextra component is adding the margin twice, so I cancel it here */
[role="tabpanel"].x\:mt-6 {
  margin-top: -1.5rem !important;
}

