name: Distribution Integration Tests

on:
  # Every pull request
  pull_request:
  # When part of a merge queue
  merge_group:
  # Pushes into the trunk
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  changes:
    name: Detect changes
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      code: ${{ steps.filter.outputs.code }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            code:
              - 'quint/**'
              - 'evaluator/**'

  distribution-integration-tests:
    name: Distribution Integration Tests
    needs: changes
    if: ${{ needs.changes.outputs.code == 'true' || github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "18"
      - uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "19"
      - run: cd ./quint && npm ci
      - run: cd ./quint && npm run compile && npm link
      - run: npm install -g txm
      - name: Apalache distribution integration tests
        run: cd ./quint && npm run apalache-distribution-integration
        env:
          GH_TOKEN: ${{ github.token }}
      - name: Rust release distribution integration tests
        run: cd ./quint && npm run rust-distribution-integration
        env:
          GH_TOKEN: ${{ github.token }}