name: Lang Integration Tests

on:
  # Every pull request
  pull_request:
  # When part of a merge queue
  merge_group:
  # Pushes into the trunk
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  changes:
    name: Detect changes
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      code: ${{ steps.filter.outputs.code }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            code:
              - 'quint/**'
              - 'examples/**'

  lang-integration-tests:
    name: Lang Integration Tests by OS
    needs: changes
    if: ${{ needs.changes.outputs.code == 'true' || github.ref == 'refs/heads/main' }}
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "18"
      - run: cd ./quint && npm ci
      - run: cd ./quint && npm run compile && npm link
      - run: npm install -g txm
      - uses: dcarbone/install-jq-action@v2
      - name: Lang integration tests
        run: cd ./quint && npm run lang-integration

  lang-integration-tests-aggregator:
    name: Lang Integration Tests
    needs: lang-integration-tests
    runs-on: ubuntu-latest
    steps:
      - run: echo "All lang integration tests completed successfully!"