name: Rust Backend Integration Tests

on:
  # Every pull request
  pull_request:
  # When part of a merge queue
  merge_group:
  # Pushes into the trunk
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  changes:
    name: Detect changes
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      code: ${{ steps.filter.outputs.code }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            code:
              - 'quint/**'
              - 'evaluator/**'
              - 'examples/**'

  rust-backend-integration-tests:
    name: Rust Backend Integration Tests by OS
    needs: changes
    if: ${{ needs.changes.outputs.code == 'true' || github.ref == 'refs/heads/main' }}
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "18"
      - name: Setup Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Build Rust evaluator
        run: cd ./evaluator && cargo build --release
      - name: Install Rust evaluator locally
        run: |
          VERSION=$(grep "QUINT_EVALUATOR_VERSION = " quint/src/rust/binaryManager.ts | sed "s/.*'\(.*\)'/\1/")
          mkdir -p ~/.quint/rust-evaluator-$VERSION
          cp evaluator/target/release/quint_evaluator ~/.quint/rust-evaluator-$VERSION/
      - run: cd ./quint && npm ci
      - run: cd ./quint && npm run compile && npm link
      - run: npm install -g txm
      - uses: dcarbone/install-jq-action@v2
      - name: Rust backend integration tests
        run: cd ./quint && npm run rust-evaluator-integration

  rust-backend-integration-tests-aggregator:
    name: Rust Backend Integration Tests
    needs: rust-backend-integration-tests
    runs-on: ubuntu-latest
    steps:
      - run: echo "All Rust backend integration tests completed successfully!"